// parallax home
@mixin parallax_mobile {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100vw;
  position: fixed;
  margin-left: -15rem;
  margin: 0;
  z-index: -1;
  .caption {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    );
    position: absolute;
    margin-top: -2.3rem;
    width: 100%;
    height: 228px;
    text-align: left;
    color: #fff;
    img {
      width: 50%;
      margin-top: -1rem;
    }
    h2 {
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
      font-size: 18px;
      font-weight: 700;
      line-height: 38.68px;
    }
    blockquote {
      width: 70%;
      font-size: 13px;
      font-weight: 400;
      line-height: 19.07px;
    }
  }
}

@mixin parallax_desktop {
  resize: both;
  overflow: auto;
  min-height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
  z-index: -1;
  .caption {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    );
    position: absolute;
    z-index: 9999;
    margin-top: 0.1rem;
    width: 100%;
    height: 99%;
    text-align: left;
    color: #fff;
    img {
      width: 70%;
    }
    h2 {
      text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
      font-size: 24px;
      font-weight: 700;
      line-height: 38.68px;
    }
    blockquote {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
    }
  }
}

@mixin parallax_overlay {
  .overlay {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background: #081828;
      content: "";
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      z-index: -1;
    }
  }
}

// end parallax home
